---
import Input from '../components/Input.astro'
import Layout from '../layouts/Layout.astro'
---
<Layout title='Contact Me' description='The Codeando Contact Page'>
    <form class="flex flex-col items-center justify-center w-full h-full">
        <h1 class="md:text-4xl">Contact</h1>
        <Input type="text" placeholder="Your Name" required />
        <Input
          name="email"
          type="email"
          pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
          placeholder="Your Email"
          required
        />
        <Input name="subject" type="text" placeholder="Subject" />
        <textarea name="message" required></textarea>
      
        <button type="submit">Send Message</button>
      </form>
      
</Layout>