---
import Layout from '../layouts/Layout.astro';
---

<Layout 
	title="Blog de Codeando" 
	description='Encuentra contenido de desarrollo web y móvil, ejemplos y demos.'>
	<main>
		
	</main>
</Layout>