---
import { Image } from "astro:assets";

interface MenuItem {
  title: string;
  link: string;
}

export interface Props {
  menu: MenuItem[];
}

const { menu } = Astro.props;
---

<header
  class="w-full h-12 md:px-10 md:py-2 bg-slate-800 text-white flex flex-row justify-between"
>
  <a href="/"
    ><Image
      loading="lazy"
      src="https://codeando.link/codeando.svg"
      class="h-8 w-auto filter invert"
      alt="Logo del blog de Codeando"
      width={32}
      height={32}
    /></a
  >
  <ul class="flex gap-3">
    {
      menu.map((menuItem, idx) => (
        <li>
          <a href={menuItem.link}>{menuItem.title}</a>
        </li>
      ))
    }
  </ul>
</header>
